.container{

    margin-left: 10px;
    margin-right: 20px;

    .textCard{
        padding-top: 10px;
        text-align: left;
        color: black;
    }

    a{
        text-decoration: none;
        color: black;
    }

    .textCard{
        padding-top: 10px;
        text-align: left;
        color: black;

        h5, h2{
            font-family: Viga;
        }  
            
        h5{
            color: #979899;
        }
    }

    .pie{
        height: 354px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .content{
        border: 1px solid red;
        // background: #ad07ad;
        width: 60.375rem;
        height: 35.75rem;

        display: grid;
        grid-template-columns: 1fr 1fr;

        h1{
            color: black;
        }

        .barChart, .percent, .list, .pieChart{
            background: var(--white);
            border-radius: 0.625rem;
            // margin: 1rem;
        }

        .barChart{
            width: 21.294rem;
            height: 14.625rem;
        }

        .probability{
            display: grid;
            grid-template-columns: 1fr 1fr;

            .percent{
                width: 10.7rem;
                height: 6.563rem;
            }


            div:last-child, div:nth-child(3n){ 
                margin-top: 0.625rem;
            }
        }

        .list, .pieChart{
            height: 20rem;
            margin-top: 0.625rem;
        }

        .list{
            width: 21.25rem;
        }

        .pieChart{
            width: 21.8rem;   
        }
    }
}
