.container{
    width: 7rem;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--white);

    border-radius: 0 10px 10px 0;

    position: fixed;

    header{
        display: flex;
        align-items: center;
        justify-content: center;
        
        margin-top: 1rem;
        // float: left;
        // padding: 2rem 2rem 0 2rem;
    }
}

.navigation{
    display: flex;
    flex-direction: column;
    width: 100%;

    .btnNavigation{
        height: 4rem;
        width: 100%;
        margin-bottom: 5px;

        background: transparent;
        border: 0;


        &:hover{
            filter: 
                invert(16%) 
                sepia(63%) 
                saturate(3770%) 
                hue-rotate(216deg) 
                brightness(91%) 
                contrast(87%);
            
        }
    }
}

.isActive{
    position: relative;
    filter: 
        invert(16%) 
        sepia(63%) 
        saturate(3770%) 
        hue-rotate(216deg) 
        brightness(91%) 
        contrast(87%);

        &::before{
            content: '';
            height: 100%;
            width: 5px;
            border-radius: 0 5px 5px 0;
            position: absolute;
            background: black;
            top: 0;
            left: 0;
            transition:  all 0.3s;
        }

}

.exit{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0;
  padding-bottom: 10px;

  button{
    background: transparent;
    border: 0;
  }

  &:hover{
    filter: 
        invert(16%) 
        sepia(63%) 
        saturate(3770%) 
        hue-rotate(216deg) 
        brightness(91%) 
        contrast(87%);
    
}
}




