.container{
    // background-image: url('./paisagem.jpg');
    background-repeat: no-repeat;
    background-position: center center;  
 
    margin-left: 7rem;
    height: 100vh;
    position: relative;

    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    display: flex;
    flex: 1;

    // border: 1px solid red;
    
    .quadrado{
        padding: 40px;
        border-radius: 15px;
        // border: 1px solid red;
        background-color: rgba(255, 255, 255, 0.658);
        
    }

    h1{
        color: black;

        text-align: center;
    }

    button {
        margin: 10px;
        padding: 0;
    }
}

.floatLabel{
    display: flex;
    flex-direction: column;
    min-width: 350px;
    
    position: relative;
    
    margin-top: 0.625rem;

    align-items: center;
    
    // border: 1px solid red;
    .upper{
        text-transform: capitalize;
    }
    label {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1.5rem;
        width: 24rem;
        height: 4.11rem;
        padding: 18px 16px 0 10px;
        outline: 0;
        border: 1px solid #ddd;
        border-radius: 10px;
        background: #fff;
        color: rgba(41, 41, 41, 0.575);
        text-align: center;
    }
}


.botoes{
    display: flex;
    .editar{
        background-color: blue;
        color: white;
    }
    .salvar{
        background-color: green;
    }
    .cancelar{
        background-color: black;
    }
}

.dropdown {
    width: 95%;
    display: flex;
    text-align: center;
    justify-content: space-between;

    // border: 1px solid red;

    margin-top: 10px;
  
    .buttonSelect {
        border-radius: 5px;
        height: 3rem;
        width: 7rem;
        
        font-size: 1rem;
        color: #888;
        font-family: Nunito, sans-serif;
    }
    
    .buttonSelect option {
        font-size: 1rem;
        max-width: 1rem;
        border-radius: 10px;
    }
}