.container{
    margin-left: 7rem;
    height: 95vh;
    position: relative;

    display: flex;
    flex-direction: column;

    flex: 1;
    align-items: center;

    justify-content: center;

    // .header{
    //     margin: 20px;
    //     width: 44.375rem;
    //     height: 5rem;

    //     border-radius: 10px;
    //     background: #fff;
    //     color: black;
        
    //     h1{
    //         margin-top: 10px; 
    //         font-size: 1.25rem;          
    //     }

    //     h1, h2{
    //         font-family: Viga;
    //         margin-left: 20px;
    //     }
    //     span{
    //         color: var(--dark-blue);
    //     }

    //     h2{
    //         color: #979899;
    //         font-size: 1rem; 
    //     }
        
    // }

    .content{
        background: #EBF1FF;
        width: 44.375rem;
        height: 25.313rem;
        border-radius: 0.625rem;

        .form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: initial;

            margin-top: 2.5rem;
            margin-left: 3.125rem;
            line-height: 0.625rem;

            p{
                font-size: 1rem;
                font-weight: 700;

                span{
                    color: #A8A6A6;
                }
            }

        }

      .buttons{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-top: 2rem;
            
            button{
                width: 17.5rem;
                height: 3.75rem;
                margin: 1.25rem;
                box-shadow: 0px 2.92276px 2.92276px rgba(0, 0, 0, 0.25);

            }
            .drop{
                background: #FF0000;
            }
        }
    }
            
        
}
