.container{
    margin-left: 7rem;
    height: 95vh;
    position: relative;

    display: flex;
    flex-direction: column;

    flex: 1;
    align-items: center;

    justify-content: center;

    .content{
        background: #EBF1FF;
        width: 44.375rem;
        height: 25.313rem;
        border-radius: 0.625rem;

        .tips{
           
            display: flex;

            .info{
                display: inline-block;

                img{
                    margin: 1.25rem 1.25rem 0 1.875rem;
                }
            }

            .text{
               
                p{
                    span{
                        color: var(--dark-blue);
                        font-weight: 600;
                        font-size: 1.25rem;

                        display: block;
                    }

                    font-size: 1rem;
                }   
            }
        }
            
            .inputs, form{

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                input{
                    margin-top: 0.625rem;
                    width: 24rem;
                    height: 3.5rem;
                    padding: 2px 16px 0 10px;
                    outline: 0;
                    border: 1px solid #ddd;
                    border-radius: 10px;
                    background: #fff;
                }
        }
    }


}
